@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Red Hat Text';
    src: url('/product-list-cart/fonts/RedHatText-VariableFont_wght.ttf');
}

:root {
    font-family: 'Red Hat Text', sans-serif;
}
