@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Red Hat Text';
    src: url('../public/fonts/RedHatText-VariableFont_wght.ttf');
}

:root {
    font-family: 'Red Hat Text', sans-serif;
}
